{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">

<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    {% if page_description %}<meta name="description" content="{{ page_description }}" />{% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" />
    {% block css %}{% endblock %}
    {% block jshead %}{% endblock %}
</head>

<body>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    {% block jsbody %}{% endblock %}
</body>

</html>